<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Registrazione</h2>
    </div>
    <form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group row" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="name" class="label-form col-xs-12 col-sm-12 col-md-12 col-lg-12">Nome account</label>
            <input type="text" name="name" id="name" class="form-input col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="vm.name" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block col-xs-12 col-sm-12 col-md-12 col-lg-12">Il nome è richiesto.</span>
        </div>
        <div class="form-group row" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="email" class="label-form col-xs-12 col-sm-12 col-md-12 col-lg-12">Email</label>
            <input type="text" name="email" id="email" class="form-input col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="vm.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block col-xs-12 col-sm-12 col-md-12 col-lg-12">La mail è richiesta.</span>
        </div>
        <div class="form-group row" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password" class="label-form col-xs-12 col-sm-12 col-md-12 col-lg-12">Password</label>
            <input type="password" name="password" id="password" class="form-input col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="vm.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block col-xs-12 col-sm-12 col-md-12 col-lg-12">La password è richiesta.</span>
        </div>

        <div class="form-group row" ng-class="{ 'has-error': form.password_confirmation.$dirty && form.password_confirmation.$error.required }">
            <label for="password_confirmation" class="label-form col-xs-12 col-sm-12 col-md-12 col-lg-12">Conferma password</label>
            <input type="password" name="password_confirmation" id="password_confirmation" class="form-input col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="vm.password_confirmation" required />
            <span ng-show="form.password_confirmation.$dirty && form.password_confirmation.$error.required" class="help-block col-xs-12 col-sm-12 col-md-12 col-lg-12">La conferma della password è richiesta</span>
        </div>
        
        <div class="form-group row" ng-class="{ 'has-error': form.checkBox_registration.$dirty && form.checkBox_registration.$error.required }">
            <input type="checkbox" name="checkBox_registration" class="checkBox_registration col-xs-1 col-sm-1 col-md-1 col-lg-1" id="checkBox_registration" ng-model="vm.checkBox_registration"  required />
            <label for="checkBox_registration" class="label-form col-xs-11 col-sm-11 col-md-11 col-lg-11">Acconsento al trattamento dei miei dati secondo le normative definite nella <a href="#!/privacyPolicy" >privacy policy</a>.</label>
            <span ng-show="form.checkBox_registration.$dirty && form.checkBox_registration.$error.required" class="help-block">Requisito necessario per la registrazione</span>
        </div>

        <div class="row">
            <div class="recapcha col-xs-12 col-sm-12 col-md-12 col-lg-12"
                    vc-recaptcha
                    key="'6LfxtmwdAAAAAGHkW92-f7O3Nc82KMU3d0NYw5iq'"
            ></div>
        </div>

        <div class="form-actions row">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn-yellow col-xs-12 col-sm-12 col-md-12 col-lg-12" data-action='submit'>Registrati</button>
            <img width="20" ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/login" class="btn-back col-xs-12 col-sm-12 col-md-12 col-lg-12">torna indietro</a>
        </div>
    </form>
</div>
