<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Gestione account</h2>
        <p class="p-reset col-xs-12 col-sm-12 col-md-12 col-lg-12">Se hai smarrito la tua password oppure vuoi attivare velocemente il tuo nuovo account, inserisci qui la tua mail e ti verrà inviata presto una mail con una nuova password temporanea</p>
    </div>
    <form name="form" ng-submit="vm.reset()" role="form">

        <div class="form-group row" ng-class="{ 'has-error': form.email.$dirty }">
            <label for="email" class="label-form col-xs-12 col-sm-12 col-md-12 col-lg-12">Email</label>
            <input type="text" name="email" id="email" class="form-input col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="vm.emailToReset" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block col-xs-12 col-sm-12 col-md-12 col-lg-12">La mail è richiesta.</span>
        </div>
        
        <div class="row">
            <div class="recapcha col-xs-12 col-sm-12 col-md-12 col-lg-12"
                    vc-recaptcha
                    key="'6LfxtmwdAAAAAGHkW92-f7O3Nc82KMU3d0NYw5iq'"
            ></div>
        </div>
        

        <div class="form-actions row">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn-yellow btn-yellow-reset col-xs-12 col-sm-12 col-md-12 col-lg-12">Attiva account</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/login" class="btn-back col-xs-12 col-sm-12 col-md-12 col-lg-12">torna indietro</a>
        </div>
    </form>
</div>
